div {
  margin: 10px 0px;
}

table {
  text-align: center;
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #000000;
}

th,
td {
  white-space: nowrap;
  padding: 5px 5px;
  border: 1px solid #d4d4d4;
  cursor: default;
}

th {
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

td {
  min-width: 50px;
}

fieldset {
  border: 1px solid black;
}

/* Input Number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin: 0px;
  /* border: solid #ddd; */
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid #ddd;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  border: solid #ddd;
  font-family: sans-serif;
  width: 3rem;
  padding: 0.5rem;
  border-width: 0 2px;
  font-size: 1rem;
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 10px;
}
